

.card{
    background-color: darkgrey;
    text-align: justify;
    margin-right:15px ;
    border-radius: 25px;
}

header{
    background: linear-gradient(117deg, rgba(15,73,66,1) 51%, rgba(88,33,170,1) 86%);
    color: black;
    text-align: center;
}

.recent-btn {
    width: 90%;
    height: 50px;
    margin-top: 10px;
    font-size: 20px;
    border: none;
    background: linear-gradient(117deg, rgba(15,73,66,1) 51%, rgba(88,33,170,1) 86%);
    color: white;
    border-radius: 25px;
}

#current-weather{
    border-radius: 25px;
    border: 2px solid blueviolet;
    padding: 15px;
}